body 
{	

	color: red;
	margin:0 auto;
}

header nav 
{	
	color: blue;
	display: inline-block;
	margin-right: 20px;
}		

header nav ul li
{	
	color: red;
	display: inline-block;
	margin-right: 20px;
}		