
body table 
{
margin: 0 auto;
width: 1105px;
height: 860px;
border-collapse: collapse;
}


body table tr td input[type="button"]
{
	background-color: gray;
	width: 380px;
	height: 300px;
}
/*COLUMNA 1*/
#col11
{
	border-bottom: solid blue;
	border-left: none;
	border-right: solid blue;
	border-top: none;
	
}

#col12
{
	border-bottom: solid blue;
	border-left: solid blue;
	border-right: solid blue;
	border-top: none;
}

#col13
{	
	border-bottom: solid blue;
	border-left: solid blue;
	border-right: none;
	border-top: none;
}
/*COLUMNA 2 */
#col21
{	
	border-bottom: solid blue;
	border-left: none;
	border-right: solid blue;
	border-top: solid blue;
}

#col22
{	
	border-bottom: solid blue;
	border-left: solid blue;;
	border-right:solid blue;
	border-top: solid blue;
}

#col23
{	
	border-bottom: solid blue;
	border-left: solid blue;
	border-right:none;
	border-top: solid blue;
}
/* COLUMNA 3 */
#col31
{	
	border-bottom: none;
	border-left: none;
	border-right: solid blue;;
	border-top: solid blue;;
}


#col32
{	
	border-bottom: none;
	border-left: solid blue;;
	border-right: solid blue;;
	border-top: solid blue;;
}


#col33
{	

	border-bottom: none;
	border-left: solid blue;;
	border-right: none;
	border-top: solid blue;;
}










